<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title></title>
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet" />

        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css"/>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css"/>
        <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <th:block layout:fragment="cssFragment"></th:block>
    </head>
    <body>
        <th:block th:replace="~{/fragments/header :: headFragment}"></th:block>
        <th:block th:replace="~{/fragments/sidebar :: sidebarFragment}"></th:block>

        <main id="main" class="main">
            <section class="section">
                <th:block layout:fragment="content"></th:block>
            </section>
        </main>

        <script src="/js/popper/popper.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
        <th:block layout:fragment="scriptFragment"></th:block>
    </body>
</html>
