<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <aside id="sidebar" class="sidebar" th:fragment="sidebarFragment">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/">
                    <i class="bi bi-list-ul"></i>
                    <span>강연 생성</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/">
                    <i class="bi bi-list-ul"></i>
                    <span>강연 리스트 보기</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/lectureApplicant.do">
                    <i class="bi bi-list-ul"></i>
                    <span>강연 신청자 목록 보기</span>
                </a>
            </li>
        </ul>
    </aside>
    <!-- End Sidebar-->
</html>
