<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
    <head>
        <title>Content page</title>
        <th:block layout:fragment="cssFragment"> </th:block>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div>강연 생성</div>
            <div class="mb-3">
                <label for="txtSpeakerName" class="form-label">강연자</label>
                <input type="email" class="form-control" id="txtSpeakerName" >
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>


        </th:block>
        <th:block layout:fragment="scriptFragment">
            <script src="/js/pages/lecture.js"></script>
        </th:block>
    </body>
</html>
